		.top{
			height: 70px;
			display: flex;
			padding-top: 30px;
		}
		.banner{
			height: 700px;
			background-image: url(banner.png);
			background-size: 100% 100%;
			text-align: center;
			font-family: arial;
			padding-top: 30px;


		}
		.content{
			height: 450px;

		}
		.parent{
			width: 1300px;
			height: 450px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			text-align: center;

		}
		.info{
			height: 450px;
			width: 300px;
			margin-left: 30px;
			padding-top: 40px;
			padding-bottom: 50px
		}
		.text{
			margin-top: 300px;
			font-size: 60px;
			color:white
		}
		.logo{
			margin-left: 200px;
		}
		.links{
			margin-left: 300px;
		}
		a{
			margin-left: 50px;
			font-size: 20px;
			text-decoration: none;
			color: #49cbcd
		}
		body{
			font-family: arial;
		}
		button{
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 15px;
			padding-right: 15px;
			border: none;
			border-radius: 5px;
			background-color: #49cbcd;
			color: white

		}
		p{
			color: grey
		}
		h2{
			color: grey
		}